* {
    font-family: Arial;
    box-sizing: border-box;
}

:root {
    --primary-color: #20b2aa;
    --secondary-color: #b19cd9;
    --tertiary-color: #D99294;
    --quaternary-color: #779ecb;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

body {
    margin: 50px;
}

nav {
    margin: 7px 0;
}

nav ul {
    color: var(--tertiary-color);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

nav ul li a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: bold;
}

nav ul li:hover a{
    color: var(--secondary-color);
}

#welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

#welcome h1 {
    color: var(--primary-color);
    font-size: 50px;
}

#welcome h2 {
    color: var(--tertiary-color);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.groups {
    margin: 15px auto;
    padding-bottom: 15px;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.groups-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: 6px solid var(--primary-color);
    padding: 10px;
    margin: 10px;
    height: 200px;
    left: 50%;
    overflow: visible;
    width: 100%;
    height: 100%;
}

.container-2 {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 5px;
    padding: 0 60px;
}

.grid-item {
    display: flex;
}

.grid-item.item-one {
    grid-column: 1 / span 2;
    grid-row: 1/ span 2;
}

.grid-item.item-two {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.grid-item.item-three {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.grid-item.item-four {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.grid-item.item-five {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

h3 {
    font-weight: bold;
    font-family: Arial;
    color: var(--quaternary-color);
    font-size: 35px;
    grid-column: 1;
    text-align: right;
}

p {
    color: var(--secondary-color);
    font-weight: bold;
    padding: 0 60px;
    text-align: left;
}

.links ul {
    list-style: none;
    color: var(--tertiary-color);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.links ul li a {
    text-decoration: underline;
    color: var(--tertiary-color);
    padding: 10px 25px;
}
.links ul li:hover a {
    color: var(--secondary-color);
}

.groups-info.links {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-item {
    display: flex;
    position: relative;
}

.box-even {
    height: 100%;
    width: 100%;
    opacity: 0.4;
    border: solid 4px var(--tertiary-color);
}

.box-odd {
    opacity: 0.4;
    border: solid 4px var(--tertiary-color);
    height: 100%;
    width: 100%;
}

img:hover {
    opacity: 1;
}

.img-text {
    position: absolute;
    bottom: 20px;
    left: 0;
    color: white;
    background-color: var(--tertiary-color);
    text-align: center;
    line-height: .2;
    justify-content: center;
}

.img-text p {
    font-weight: lighter;
    color: white;
    font-size: 14px;
    line-height: .2;
}

#work {
    padding: 15px;
}

#contact-me {
    margin: 0;
    padding: 0 60px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    #navbar{position:fixed,)