* {
    font-family: Arial;
}

:root {
    --primary-color: #20b2aa;
    --secondary-color: #b19cd9;
    --tertiary-color: #D99294;
    --quaternary-color: #779ecb;
}

nav {
    margin: 7px 0;
}

nav ul {
    color: var(--tertiary-color);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

nav ul li a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: bold;
}

nav ul li:hover a{
    color: var(--secondary-color);
}

#welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

#welcome h1 {
    color: var(--primary-color);
    font-size: 50px;
}

#welcome h2 {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-family: Arial;
    color: var(--quaternary-color);
    font-size: 35px;
}

p {
    color: var(--secondary-color);
    font-weight: bold;
}